.dashboard-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    padding: 20px;
    background-color: var(--background-color);
    margin-top: 60px !important;

  }

