/* .custom-table .ant-table-thead > tr > th {
  background-color: #f0f2f5;
  font-weight: bold;
  text-align: center;
} */

/* .custom-table .ant-table-tbody > tr > td {
  text-align: center;
} */

.custom-table .ant-pagination {
  margin-top: 16px;
  text-align: center;
}

.custom-table .active-row {
  background-color: grey; 
}
/* 
.status.completed {
  color: green;
  font-weight: bold;
}

.status.pending {
  color: orange;
  font-weight: bold;
} */

.custom-table .ant-table-thead > tr > th,
.custom-table .ant-table-tbody > tr > td {
  white-space: nowrap;        
  overflow: hidden;           
  text-overflow: ellipsis;     
}

.custom-table .ant-table-thead > tr > th {
  background-color: #f0f2f5;
  font-weight: bold;
  text-align: center;
}

.custom-table .ant-pagination-prev .ant-pagination-item-link,
.custom-table .ant-pagination-next .ant-pagination-item-link {
  color: var(--pagination-arrow-color) !important;
  transition: none !important; 
}

.custom-table .ant-pagination-prev:hover .ant-pagination-item-link,
.custom-table .ant-pagination-next:hover .ant-pagination-item-link {
  color: var(--pagination-arrow-color) !important;
}
@media (max-width: 768px) {
  .custom-table .ant-table-thead > tr > th,
  .custom-table .ant-table-tbody > tr > td {
    font-size: 0.85rem;
  }
}