main {
  padding: 80px 30px 20px 30px;
  background-color: var(--background-color);
  overflow-y: auto;
  flex: 1;

}

.task-creation-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  padding: 20px;
  background-color: var(--background-color);
}

.task-creation-main {
  flex: 1;
  display: flex;
  flex-direction: column;
  transition: margin-left 0.3s ease;
  margin-left: 0;
}

.task-creation-main.sidebar-open {
  margin-left: 250px;
}

.upload-class .ant-upload-list-item-name {
  color: var(--text-color) !important;
}

.project-alert-message {
  color: var(--error-color);
}