
:root {
  --primary-color: #3498db;
  --secondary-color: #2ecc71;
  --background-color: #f4f6f8;
  --sidebar-color: #2c3e50;
  --header-color: #ffffff;
  --text-color: #333333;
  --text-light: #ecf0f1;
  --error-color: #e74c3c;
  --success-color: #2ecc71;
  --font-family: 'Roboto', sans-serif;
}

[data-theme="dark"] {
  --primary-color: #9b59b6;
  --secondary-color: #e67e22;
  --background-color: #1e272e;
  --sidebar-color: #485460;
  --header-color: #151c22;
  --text-color: #747678;
  --text-light: #b2bec3;
  --error-color: #e74c3c;
  --success-color: #00b894;
  /* --info-color: */
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--font-family);
  background-color: var(--background-color);
  color: var(--text-color);
  transition: background-color 0.3s, color 0.3s;
  padding-top: 60px;
}