.upload-description {
  font-size: 0.85rem;
  color: #666;
  margin: 8px 0px;
  text-align: left;
}

.add-comment-card .submit-button {
  width: 10%;
  padding: 10px 20px;
  font-size: 13px;
  box-sizing: border-box;
}

@media (max-width: 768px) {
  .add-comment-card .submit-button {
    font-size: 12px;
    padding: 8px 16px;
    width: 40%;
  }
}

@media (max-width: 480px) {
  .add-comment-card .submit-button {
    font-size: 10px;
    padding: 6px 12px;
    width: 40%;

  }
}
