/* body{
  background-image: url('../../assets/login.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
} */
.login-container {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center; /* Merkezi hizalama */
  align-items: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
  }
  
  .login-wrapper {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding-right: 200px; 
  }
  
  .login-box {
    background: rgba(255, 255, 255, 0.85); 
    padding: 40px 30px;
    border-radius: 8px;
    box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.1);
  }
  
  .title {
    margin: 0 0 30px;
    padding: 0;
    color: #333;
    text-align: center;
    font-family: 'Roboto', sans-serif;
  }
  
  
  @media (max-width: 768px) {
    .login-wrapper {
      padding-right: 50px; /* Mobil cihazlarda sağ padding'i azalt */
    }
  
    .login-container {
      padding-left: 0; /* Mobil cihazlarda sol padding'i kaldır */
    }
  }
  