.unauthorized-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
  }
  
  .unauthorized-container h1 {
    font-size: 2rem;
    color: red;
  }
  
  .unauthorized-container p {
    margin: 10px 0;
    font-size: 1.2rem;
  }
  
  .unauthorized-container button {
    margin-top: 20px;
  }
  