.dashboard-container {
  flex: 1;
  background-color: var(--background-color);
  margin-top: 60px !important;

}

.list-button {
  background-color: var(--primary-color) !important;
  color: #fff !important;
  transition: background-color 0.3s !important;
}

.list-button:hover {
  background-color: var(--secondary-color) !important;
}

.create-button {
  background-color: var(--success-color) !important;
  color: #fff !important;
  transition: background-color 0.3s !important;
}

.create-button:hover {
  background-color: #27ae60 !important;
}
