
.login-form {
  display: flex;
  flex:1;
  flex-direction: column;
  position: relative; 
  height: max-content;
  width:min-content;
}

.error-container {
  height: 40px; 
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px; 
  font-size: small;
}

.error-message {
  color: red;
  text-align: center;
  font-weight: bold;
  border: 1px solid red;
  padding: 5px 10px;
  border-radius: 4px;
  background-color: #ffe6e6;
  margin: 0; 
}
