.sidebar {
  flex: 1;
  width: 250px;
  background-color: var(--sidebar-color);
  color: var(--text-light);
  display: flex;
  flex-direction: column;
  height: 100vh;
  position: fixed;
  left: -250px; 
  top: 0;
  transition: left 0.3s ease;
  opacity: 0;
  z-index: 1000;
}

.sidebar.open {
  left: 0; 
  opacity: 1;
}

.sidebar-logo {
  padding: 20px;
  text-align: center;
  background-color: var(--primary-color);
}

.sidebar-logo h2 {
  color: #fff;
  font-size: 22px;
}

.sidebar nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  flex-grow: 1;
}

.sidebar nav ul li {
  margin: 0;
}

.sidebar nav ul li a {
  display: flex;
  align-items: center;
  padding: 15px 20px;
  color: var(--text-light);
  text-decoration: none;
  transition: background-color 0.3s, color 0.3s;
}

.sidebar nav ul li a:hover,
.sidebar nav ul li a.active {
  background-color: var(--primary-color);
  color: #fff;
}

.sidebar-icon {
  margin-right: 10px;
  font-size: 18px;
}

.hamburger {
  flex:1;
  position: fixed;
  top: 15px;
  left: 15px;
  font-size: 24px;
  color: var(--sidebar-color);
  cursor: pointer;
  z-index: 1100;
  display: block; 
  padding-right: 50px;

}


@media (min-width: 769px) {
  .sidebar {
    left: -250px;
  }

  .sidebar.open {
    left: 0;
  }


  .dashboard-content {
    margin-left: 0; 
    width: 100%;
    transition: margin-left 0.3s ease;
  }
}

@media (max-width: 768px) {
  .sidebar {
    position: fixed;
    height: 100%;
    z-index: 1000;
  }

  .dashboard-content {
    margin-left: 0; 
    width: 100%;
    transition: margin-left 0.3s ease;
  }
}
