.dashboard-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  padding: 20px;
  background-color: var(--background-color);
}


.task-header-info {
  margin-bottom: 20px;
}

.loading-container, .error-container, .task-detail {
  padding: 20px;
}

.title-container {
  align-content: center;
  align-self: center;
}

.buttons-container {
  display: flex;
  flex-direction: row;
  align-items: center; 
  justify-content:start;
}

.title-edit-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; 
}

.task-detail {
  padding: 20px;
}


.task-header-card {
  margin-bottom: 20px;
}

.task-header-actions {
  display: flex;
  gap: 10px;
}

.task-header-actions .action-button {
  padding: 6px 10px;
}

.task-card {
  margin-bottom: 20px;
}

.task-info p {
  margin: 8px 0;
  font-size: 16px;
  color: #555;
}

.task-actions-section-card {
  margin-bottom: 20px;
}

.task-actions-section {
  display: flex;
  align-items: center;
  gap: 20px;
  width: 100%;
}

.assign-section {
  flex: 1;
}

.add-comment-card {
  margin-top: 20px;
}

.assign-section .ant-select {
  width: 100%;
}

.edit-title-input {
  margin-right: 10px;
}

@media (max-width: 768px) {
  .task-header-card .ant-card-body {
    display: flex;
    flex-direction: column;
  }


  .task-header-card .ant-card-body .ant-row {
    width: 100%;
  }

  .task-header-card .ant-card-body .ant-col:last-child {
    margin-top: 20px;
  }

  .task-header-card .ant-card-body .ant-row .ant-col .ant-row {
    justify-content: flex-start;
  }

  .assign-section {
    width: 100%;
  }

  .assign-section .ant-select {
    width: 100%;
  }

  .back-button {
    font-size: 14px;
  }
  
}
